doctype html 
    html 
        head 
            style 
                include ../static/style.css 
        body 
            nav#navbar 
                ul 
                    li #[a(href="/")Home] 
                    li #[a(href="/")About] 
                    li #[a(href="/")Services] 
                    li #[a(href="/")Class Info ]
                    li #[a(href="/")Contact Us ]

            section#introSection 
                | Welcome to dance academy
            section#missionSection 
                
            section#sponsorSection 
                | section for sponsors
            section#footer 
                | our footer here
            script 
                include ../static/index.js