*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    
}
#navbar{
    background-color: yellow;
    padding: 13px 14px;
    font-family: 'Courier New', Courier, monospace;
}
#navbar ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#navbar li{
    list-style: none;
}
#navbar li a{

    text-decoration: none;
    padding: 13px 30px;
}

#introSection{
    height: 300px;
    background-color: red;
    background: center / contain no-repeat url("/static/png5.png");
    display: flex;
    align-items: center;
    justify-content: center;
}
#sponsorSection{
    height: 300px;
    background-color: black;
}
#footer{
    height: 100px;
    background-color: blue;
}